@page
@model GirdTheGrid2.Server.Pages.Stations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PowerStations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PowerStations.Id" />
            <div class="form-group">
                <label asp-for="PowerStations.StationName" class="control-label"></label>
                <input asp-for="PowerStations.StationName" class="form-control" />
                <span asp-validation-for="PowerStations.StationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerStations.UserName" class="control-label"></label>
                <input asp-for="PowerStations.UserName" class="form-control" />
                <span asp-validation-for="PowerStations.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerStations.StationType" class="control-label"></label>
                <input asp-for="PowerStations.StationType" class="form-control" />
                <span asp-validation-for="PowerStations.StationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerStations.EnergyOutput" class="control-label"></label>
                <input asp-for="PowerStations.EnergyOutput" class="form-control" />
                <span asp-validation-for="PowerStations.EnergyOutput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerStations.StationRegion" class="control-label"></label>
                <input asp-for="PowerStations.StationRegion" class="form-control" />
                <span asp-validation-for="PowerStations.StationRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
